node_red_flow.json
[
  {
    "id": "tab_quantum",
    "type": "tab",
    "label": "QuantumFinance Monitor",
    "disabled": false,
    "info": "Pipeline: Pico W → MQTT → Node-RED → InfluxDB → Grafana"
  },
  {
    "id": "grp_status",
    "type": "ui_group",
    "name": "Status da Área",
    "tab": "tab_quantum",
    "order": 1,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_temp",
    "type": "ui_group",
    "name": "Temperatura",
    "tab": "tab_quantum",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": false
  },
  {
    "id": "grp_hist",
    "type": "ui_group",
    "name": "Histórico",
    "tab": "tab_quantum",
    "order": 3,
    "disp": true,
    "width": 12,
    "collapse": false
  },

  {
    "id": "mqtt_in_1",
    "type": "mqtt in",
    "name": "MQTT — Forno A (SP01)",
    "topic": "quantumfinance/sp01/forno_a",
    "qos": "1",
    "datatype": "auto",
    "broker": "mqtt_broker_1",
    "x": 130,
    "y": 100,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "inject_test",
    "type": "inject",
    "name": "Teste: SEGURO",
    "props": [{"p": "payload"}],
    "payload": "{\"t\":1,\"planta\":\"SP01\",\"area\":\"FORNO_A\",\"estado\":\"SEGURO\",\"temperatura\":62.5,\"alerta_temp\":false,\"pessoa_zona\":false,\"pessoa_seg\":0,\"alerta_pessoa\":false,\"alertas_total\":0,\"mqtt\":\"quantumfinance/sp01/forno_a\"}",
    "payloadType": "str",
    "repeat": "3",
    "x": 130,
    "y": 160,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "inject_aviso",
    "type": "inject",
    "name": "Teste: AVISO pessoa",
    "props": [{"p": "payload"}],
    "payload": "{\"t\":10,\"planta\":\"SP01\",\"area\":\"FORNO_A\",\"estado\":\"AVISO\",\"temperatura\":65.0,\"alerta_temp\":false,\"pessoa_zona\":true,\"pessoa_seg\":5,\"alerta_pessoa\":false,\"alertas_total\":0,\"mqtt\":\"quantumfinance/sp01/forno_a\"}",
    "payloadType": "str",
    "repeat": "",
    "x": 130,
    "y": 220,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "inject_alerta",
    "type": "inject",
    "name": "Teste: ALERTA",
    "props": [{"p": "payload"}],
    "payload": "{\"t\":20,\"planta\":\"SP01\",\"area\":\"FORNO_A\",\"estado\":\"ALERTA\",\"temperatura\":88.3,\"alerta_temp\":true,\"pessoa_zona\":true,\"pessoa_seg\":14,\"alerta_pessoa\":true,\"alertas_total\":2,\"mqtt\":\"quantumfinance/sp01/forno_a\"}",
    "payloadType": "str",
    "repeat": "",
    "x": 130,
    "y": 280,
    "wires": [["json_parse_1"]]
  },
  {
    "id": "json_parse_1",
    "type": "json",
    "name": "Parse JSON",
    "action": "obj",
    "pretty": false,
    "x": 360,
    "y": 180,
    "wires": [["switch_estado", "fn_temp", "fn_pessoa", "influxdb_out"]]
  },
  {
    "id": "switch_estado",
    "type": "switch",
    "name": "Roteador de Estado",
    "property": "payload.estado",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "ALERTA",  "vt": "str"},
      {"t": "eq", "v": "AVISO",   "vt": "str"},
      {"t": "eq", "v": "SEGURO",  "vt": "str"}
    ],
    "checkall": "false",
    "x": 580,
    "y": 100,
    "wires": [
      ["fn_alerta", "ui_text_estado"],
      ["ui_text_estado"],
      ["ui_text_estado"]
    ]
  },
  {
    "id": "fn_alerta",
    "type": "function",
    "name": "Formatar Alerta",
    "func": "var d = msg.payload;\nvar motivos = [];\nif (d.alerta_pessoa) motivos.push('PESSOA na zona ' + d.pessoa_seg + 's (limite: 10s)');\nif (d.alerta_temp)   motivos.push('TEMPERATURA ' + d.temperatura + '°C (limite: 80°C)');\nmsg.payload = '🚨 ALERTA ' + d.area + ' | ' + motivos.join(' | ');\nmsg.topic   = 'alerta';\nreturn msg;",
    "x": 790,
    "y": 60,
    "wires": [["notif_debug", "ui_notif"]]
  },
  {
    "id": "notif_debug",
    "type": "debug",
    "name": "Debug Alertas",
    "active": true,
    "x": 1010,
    "y": 40,
    "wires": []
  },
  {
    "id": "ui_notif",
    "type": "ui_toast",
    "position": "top right",
    "displayTime": "5",
    "highlight": "#e8003d",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "Notificação Alerta",
    "x": 1010,
    "y": 80,
    "wires": []
  },
  {
    "id": "fn_temp",
    "type": "function",
    "name": "Extrair Temperatura",
    "func": "msg.payload = msg.payload.temperatura;\nreturn msg;",
    "x": 580,
    "y": 200,
    "wires": [["ui_gauge_temp", "ui_chart_temp"]]
  },
  {
    "id": "ui_gauge_temp",
    "type": "ui_gauge",
    "name": "Gauge Temperatura",
    "group": "grp_temp",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura — FORNO_A",
    "label": "°C",
    "format": "{{value}}°C",
    "min": 0,
    "max": 120,
    "colors": ["#00cc66", "#ffaa00", "#e8003d"],
    "seg1": 60,
    "seg2": 80,
    "x": 800,
    "y": 180,
    "wires": []
  },
  {
    "id": "ui_chart_temp",
    "type": "ui_chart",
    "name": "Histórico Temperatura",
    "group": "grp_hist",
    "order": 1,
    "width": 12,
    "height": 4,
    "label": "Temperatura (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": 0,
    "ymax": 120,
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#00aaff"],
    "x": 800,
    "y": 220,
    "wires": []
  },
  {
    "id": "fn_pessoa",
    "type": "function",
    "name": "Extrair Estado Pessoa",
    "func": "var d = msg.payload;\nif (d.alerta_pessoa) {\n  msg.payload = '🚨 EVACUAÇÃO — ' + d.pessoa_seg + 's';\n  msg.color = '#e8003d';\n} else if (d.pessoa_zona) {\n  msg.payload = '⚠️ PESSOA — ' + d.pessoa_seg + 's / 10s';\n  msg.color = '#ffaa00';\n} else {\n  msg.payload = '✅ LIVRE';\n  msg.color = '#00cc66';\n}\nreturn msg;",
    "x": 580,
    "y": 300,
    "wires": [["ui_text_pessoa"]]
  },
  {
    "id": "ui_text_estado",
    "type": "ui_text",
    "name": "Estado Geral",
    "group": "grp_status",
    "order": 1,
    "width": 6,
    "height": 2,
    "title": "Estado",
    "format": "{{msg.payload.estado}}",
    "layout": "col-center",
    "x": 800,
    "y": 100,
    "wires": []
  },
  {
    "id": "ui_text_pessoa",
    "type": "ui_text",
    "name": "Status Pessoa",
    "group": "grp_status",
    "order": 2,
    "width": 6,
    "height": 2,
    "title": "Zona de Risco",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "x": 800,
    "y": 300,
    "wires": []
  },
  {
    "id": "influxdb_out",
    "type": "influxdb out",
    "influxdb": "influx_config_1",
    "name": "InfluxDB — monitoramento",
    "measurement": "industrial_sensor",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "quantumfinance",
    "x": 600,
    "y": 400,
    "wires": []
  },
  {
    "id": "mqtt_broker_1",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered_quantumfinance",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "influx_config_1",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "quantumfinance",
    "name": "InfluxDB Local",
    "usetls": false,
    "tls": ""
  }
]